################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.DS_Store
*.snk
/src/Testbed/XrmGenTestClassic/Entities.model.json
.nuget/
